html {
  height: 100vh;
}
body {
  min-height: 100vh;
  /*background-image: url(../media/imgs/digitalworld.jpg);*/
  background: #000B29;
  color: #F8F5F2;
  overflow-y: hidden;
  overflow-x: hidden;
}

.body-wrap {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
}
/*Phone CSS*/
.phone-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 20px;
  box-sizing: border-box;
  margin: 5px;
  border: 2px solid black;
  border-radius: 8px;
  background: #D70026;
}
#p-scrn {
  flex: 2;
  height: 400px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 8px;
  /*background: #000B29;*/
}
.p-sd {
  display: flex;
  margin: 0 5px;
  border-radius: 8px;
}
.sd-r {
  padding-left: 5px;
}
.p-sd div {
  flex: 1;
  height: 50px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EDB83D;
  color: #000B29;
}
.p-sd div:active {
  color: #D70026;
}
.p-sd div:hover {
  color: #F8F5F2;
}
.p-btns {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 8px;
  text-align: center;
}
.p-row {
  flex: 1;
  display: flex;
}
.p-btns .btn {
  flex: 1;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  background: #EDB83D;
  color: #000B29;
}

.btn:hover {
  color: #D70026;
}
/*Main Game Area*/
.main-game-area-wrap {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 600px;
  box-sizing: border-box;
  padding: 20px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 8px;
  background: #D70026;
}
.mga-display-wrap {
  min-width: 350px;
  height: 400px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 8px;
  position: relative;
}
#mga-display {
  display: block;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  position: absolute;
}
#mga-travel-display {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  background: orange;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  position: absolute;
}

.trav {
  flex: 1;
  height: 150px;
  background: red;
  margin: 7px;
  box-shadow: 5px 5px 2px #000B29;
}
.trav:active {
  transform: translateY(5px);
}
#trav1 {
  background-image: url(../media/imgs/mexicopost.jpeg);
  background-size: 100% 100%;
}
#trav2 {
  align-self: flex-end;
  margin-bottom: 10px;
  background-image: url(../media/imgs/colombiapost.jpg);
  background-size: 100% 100%;
}
#trav3 {
  background-image: url(../media/imgs/costapost.jpg);
  background-size: 100% 100%;
}
.mga-info-wrap {
  display: flex;
  height: 200px;
  border-radius: 8px;
  margin: 0 5px;
}
#mga-info {
  flex: 1;
  border: 1px solid black;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 5px;
}
.mga-optns {
  flex: 1;
  display:flex;
  border: 1px solid black;
  border-radius: 8px;
/*  margin: 0 2px;
*/}
#optns-btns {
  flex:1;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
#optns-btns button {
  height: 40px;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  background: #EDB83D;
  color: #000B29;
  padding: 1px;
}
#optns-scrn {
  flex: 3;
  border-radius: 8px;
}
/*Game State CSS*/
.game-state {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 400px;
  background: #D70026;
  border-radius: 8px;
}
#gs-loc {
  flex: 1;
  background-image: url(../media/imgs/thundercatslogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#gs-loc img {
  max-height: 100%;
  max-width: 100%;
}
#gs-timer {
  flex: 1;
  padding: 5px;
}
#gs-timer h2{
  text-align: center;
}
/*$External CSS*/
.gs {
  background-image: url(../media/imgs/cartoonhq.jpg);
  background-size: cover;
  display: block;
}
.airplane {
  background: black;
  background-image: url(../media/imgs/airplane.gif);
  background-size: 100% 100%;
}
.earth {
  background-image: url(../media/imgs/earth.gif);
  background-size: cover;
  background-position: 50% 0%;
}
.air-ani {
  position: absolute;
  background-image: url(../media/imgs/airplane.png);
  background-size: 100% 100%;
  height: 200px;
  width: 200px;

}


