html {
  height: 100vh;
}
body {
  min-height: 100vh;
}

.body-wrap {
  display: flex;
  height: 100vh;
}
/*Phone CSS*/
.phone-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 600px;
}
.phone-wrap div {
  border: 1px solid black;
}
#p-scrn {
  flex: 2;
  height: 400px;
  background: purple;
}
.p-sd {
  display: flex;
}
.p-sd div {
  flex: 1;
  height: 50px;
}
.p-btns {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.p-btns div {
  height: 25px;
  width: 80px;
  margin: auto;
}
/*Main Game Area*/
.main-game-area-wrap {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 600px;
}
#mga-display {
  flex: 2;
  height: 400px;
  background: blue;
}
.mga-info-wrap {
  display: flex;
  height: 200px;
}
#mga-info {
  flex: 1;
  background: red;
}
.mga-optns {
  flex: 1;
  display:flex;
}
#optns-btns {
  flex:1;
  display: flex;
  flex-direction: column;
  width: 20%;
}
#optns-btns button {
  height: 40px;
}
#optns-scrn {
  width: 80%;
  background: yellow;
}
.game-state {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#gs-loc {
  flex: 1;
}
#gs-timer {
  flex: 1;
}
